@model IEnumerable<GestaoDocumento.Models.Documento>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-default">
        <span class="material-icons md-20" style="vertical-align: bottom;">add_circle</span> Adicionar
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revisao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPlanejada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revisao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPlanejada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default" title="Alterar">
                    <span class="material-icons md-20">edit_square</span>
                </a>
                <a id="@item.Id" class="btn btn-default btnDelete" style="cursor:pointer;" title="Excluir">
                    <span class="material-icons md-20">delete</span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                if (confirm("Tem certeza que deseja excluir?")) {
                    var id = $(this).attr('id');
                    var parentTr = $(this).closest('tr');

                    $.ajax({
                        method: "POST",
                        url: "/Documentos/Delete/" + id,
                        success: function (data) {
                            parentTr.remove();
                        },
                        error: function (data) {
                            alert("Erro ao excluir");
                        }
                    });
                }
            });
        });
    </script>
}